.title{
    text-align: left;
    margin: 3%;
    margin-top: 4%;
}

hr{
    width: 50%;
    height:5px; 
}
h3{
    margin-top: 3%;
}

input{
    margin-top: 1%;
}

button{
    margin: 1%;
}

.container{
    background-color: aliceblue;
    margin-top: 2%;
    padding: 3%;
}

