/* You can add global styles to this file, and also import other style files */
body{
    background: #C04848; 
    background: -webkit-linear-gradient(to right, #480048, #C04848);  
    background: linear-gradient(to right, #480048, #C04848); 
}